{% extends 'base.html' %}

{% block suppliers_active %}active{% endblock %}

{% block header %}
<h1>{% block title %}Create Supplier{% endblock %}</h1>
{% endblock %}

{% block navigation %}
<a class="navigation-btn" href="{{ url_for('suppliers_index') }}">
    <i class="bi bi-chevron-left"></i>
</a>
{% endblock %}

{% block content %}
<form method="post">
    <label for="tin">TIN</label>
    <input
        name="tin"
        id="tin"
        type="text"
        value="{{ request.form['tin'] }}"
        required
    >
    <label for="name">Name</label>
    <input
        name="name"
        id="name"
        type="text"
        value="{{ request.form['name'] }}"
    >
    <label for="address">Address</label>
    <input
        name="address"
        id="address"
        type="text"
        value="{{ request.form['address'] }}"
    >
    <label for="sku">SKU</label>
    <input
        name="sku"
        id="sku"
        type="text"
        value="{{ request.form['sku'] }}"
    >
    <label for="date">Date</label>
    <input name="date" id="date" type="date">
    <hr>
    <input class="btn create" type="submit" value="Create">
</form>
{% endblock %}
