{% extends 'base.html' %}

{% block orders_active %}active fade{% endblock %}

{% block header %}
<h1>{% block title %}Order {{ order['order_no'] }} | View{% endblock %}</h1>
{% endblock %}

{% block navigation %}
<a class="navigation-btn" href="{{ url_for('customer_view', cust_no=order['cust_no']) }}">
    <i class="bi bi-chevron-left"></i>
</a>
{% endblock %}

{% block content %}
<form method="post">
    <label for="order_no">Order number</label>
    <input
        name="order_no"
        id="order_no"
        type="text"
        value="{{ order['order_no'] }}"
        disabled
    >
    <label for="cust_no">Customer number</label>
    <input
        name="cust_no"
        id="cust_no"
        type="text"
        value="{{ order['cust_no'] }}"
        disabled
    >
    <label for="date">Date</label>
    <input
        name="date"
        id="date"
        type="date"
        value="{{ order['date'] }}"
        disabled
    >
    <div class="paid-container">
        <label for="paid"><b>Paid</b>: {{ "Yes" if order['paid_by'] else "No"}}</label>
        {% if not order['paid_by'] %}
        <a class="btn icon-btn" id="paid" href="{{ url_for('order_pay', order_no=order['order_no']) }}">
            <i class="bi bi-wallet2"></i>
            Pay
        </a>
        {% endif %}
    </div>
    <label class="products-container-view" for="products-container">Products</label>
    <div class="products-container">
        <label id="sku-lbl">SKU:</label>
        <label id="qty-lbl">Qty:</label>
        {% for product in products %}
        <div class="product-container">
            <input
                type="text"
                class="product-sku"
                value="{{ product['sku'] }}"
                disabled
            >
            <input
                type="text"
                class="product-qty"
                value="{{ product['qty'] }}"
                disabled
            >
        </div>
        {% endfor %}
    </div>
</form>
{% endblock %}
