{% extends 'index_base.html' %}

{% block products_active %}active fade{% endblock %}

{% block header %}
<h1>{% block title %}Products{% endblock %}</h1>
<a class="btn icon-btn" href="{{ url_for('product_create') }}">
    <i class="bi bi-plus-lg plus-icon"></i>
    New
</a>
{% endblock %}

{% block content %}
{% for product in products %}
<article class="post">
    <header>
        <div>
            <h1>{{ product['name'] }}</h1>
            <div class="about">SKU: {{ product['sku'] }}</div>
        </div>
        <a class="btn icon-btn" href="{{ url_for('product_update', sku=product['sku']) }}">
            <i class="bi bi-pencil-fill"></i>
            Edit
        </a>
        <form class="delete-form" action="{{ url_for('product_delete', sku=product['sku']) }}" method="post">
            <button class="btn icon-btn" onclick="return confirm('Are you sure you want to delete the product {{ product['sku'] }} and remove it from all orders? Note that it will stop being supplied.')">
                <i class="bi bi-trash3"></i>
                Delete
            </button>
        </form>
    </header>
    <div class="info">
        <p class="body">
            <b>Descrição:</b>
            {{ product['description'] if product['description'] != None else '' }}
        </p>
        <p class="body">
            <b>EAN:</b>
            {{ product['ean'] if product['ean'] != None else 'NO EAN' }}
        </p>
        <p class="body">
            <b>Price:</b>
            {{ product['price'] }} €
        </p>
    </div>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}

{% block prev_url %}{{ url_for('products_index', page=page - 1) }}{% endblock %}
{% block next_url %}{{ url_for('products_index', page=page + 1) }}{% endblock %}
