{% extends 'index_base.html' %}

{% block products_active %}active fade{% endblock %}

{% block header %}
<h1>{% block title %}Products{% endblock %}</h1>
<a class="btn icon-btn" href="{{ url_for('product_create') }}">
    <i class="bi bi-plus-lg plus-icon"></i>
    New
</a>
{% endblock %}

{% block content %}
{% for product in products %}
<article class="post">
    <header>
        <div>
            <h1>{{ product['name'] }}</h1>
            <div class="about">{{ product['sku'] }} - {{ product['ean'] if product['ean'] != None else 'NO EAN' }}</div>
        </div>
        <a href="{{ url_for('product_update', sku=product['sku']) }}">
            <i class="bi bi-pencil-fill edit-btn"></i>
        </a>
        <form class="delete-form" action="{{ url_for('product_delete', sku=product['sku']) }}" method="post">
            <i class="bi bi-trash3-fill trash-btn" onclick="return confirm('Are you sure?')" ></i>
        </form>
    </header>
    <p class="highlight">{{ product['price'] }} €</p>
    <p class="body">{{ product['description'] if product['description'] != None else '' }}</p>
</article>
<hr>
{% endfor %}
{% endblock %}

{% block prev_url %}{{ url_for('products_index', page=page - 1) }}{% endblock %}
{% block next_url %}{{ url_for('products_index', page=page + 1) }}{% endblock %}
