{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Products{% endblock %}</h1>
<a href="{{ url_for('product_create') }}">New</a>
{% endblock %}

{% block content %}
{% for product in products %}
<article class="post">
    <header>
        <div>
            <h1>{{ product['name'] }}</h1>
            <div class="about">{{ product['sku'] }} - {{ product['ean'] if product['ean'] != None else 'NO EAN' }}</div>
        </div>

        <a class="action" href="{{ url_for('product_update', sku=product['sku']) }}">Edit</a>

        <form class="delete-form" action="{{ url_for('product_delete', sku=product['sku']) }}" method="post">
            <button class="delete-btn" onclick="return confirm('Are you sure?');">Delete</button>
        </form>
    </header>
    <p class="highlight">{{ product['price'] }} €</p>
    <p class="body">{{ product['description'] if product['description'] != None else '' }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}